<div class="cool">
<h1><div> @ <%= @student["first_name"] %>  twitter </div></h1>
</div>


<% @tweets.each do |tweet| %>

	<div class="tweet">

		<div class="text">Text: <%= tweet.text %></div>
		<br>
		<div class="ttx">Favorites: <%= tweet.favorite_count %>
		<br>
		Retweet Count: <%= tweet.retweet_count %></div>
	</div>

<% end %>
